@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #FAE3D9, #FFB6B9);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8ac6d191;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8AC6D1;
    text-align: center;
    text-shadow: 1px 1px 1px #819da191;
}

h2 {
    color: #FFB6B9;
}

p {
    text-align: justify;
}